/* Estilos generales */
body {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    background-color: #fff;
}

/*Menuuu*/
body {
    font-family: "Lato", sans-serif;
  }

/*contenedor del dropdown,  */
.navbar {
    
    position: absolute;
    z-index: 1;
    padding: 10px;
    width: 0;
    height: 0;
    background-color: white;
    
}

/*x*/
.sidebar {
    display: none;
    transition: width 2s, height 4s;
  }

/*boton ☰ solo se oculta, pero ocupa el espacio*/
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #ffffff00;
    color: rgb(0, 0, 0);
    padding: 10px 15px;
    border: none;
    visibility: visible;
  }
  
.sidebar a {
    text-decoration: none;
    font-size: 25px;
    color: #818181;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
.closebtn {
    float: right;
  }
  
  .openbtn:hover {
    background-color: #ff996631;
  }
  
/*logo beerseba*/
.logo1 {
    display: flex;
    justify-content:space-between;
    align-items: flex-end;  
    position: relative;   
}

.logo {
    margin: 10px;
    padding-left: 100px;
}

.nav-extra {
    margin: 10px;
    
}

  
 

/* Barra superior */
.barra-superior {
    background: linear-gradient(to right, #FF5E62, #FF9966);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}



.Titulo{
    position: absolute;
    top: 10%;
    left: 30%; 
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

.nav-links a:hover {
    color: #FF5E62;
}



.nav-extra a {
    text-decoration: style;
    color: #333;
    font-size: 14px;
}

.nav-extra input[type="search"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    width: 200px;
}


.nav-simple{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    float: right;
    right: 800%;
    position: absolute;
    top: 0%;
    right: 0;
    padding-top: 20%;
    transition: 0.5s ease-in-out;
    

}

.nav-simple a {
    text-decoration: style;
    color: #333;
    font-size: 13px;
}

.nav-simple input[type="search"] {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 20px;
    outline: none;
    width: 180px;
    height: 25px;

}


/*profile-down*/

.profile-dropdown{
    position: relative;
    
}

.profile-dropdown-list{
    position: absolute;
    top: 48px;
    width: 180px;
    right: 0;
    background-color: white;   
    border-radius: 10px;
    height: 300px;
    list-style-type: none;

}


.profile-dropdown-list hr{
    border: .5px solid #ffb1b2;
}

.profile-dropdown-list-item{
    padding: 0.5rem 0 0.5rem 1rem;
    transition: background-color 0.2s, paading-left 0.2s;
}

.profile-dropdown-list-item:hover{
    padding-left: 1.5rem;
    background-color: #ffeaec;
}

.profile-dropdown-list-item a{
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    color: var(--white);
    
}

/*-------icons-------*/
.profile-dropdown-list-item a i{
    margin-right: 0.8rem;
    font-size: 1.1rem;
    width: 2.3rem;
    height: 2.3rem;
    background-color: #FF5E62;
    color: white;
    line-height: 2.3rem;
    text-align: center;
    border-radius: 50%;
}

.profile-dropdown-btn{
    display: flex;
    width: 150px;
    align-items: center;
    justify-content: space-between;
    padding-right: 1rem;
    font-size: 0.9rem;
    font-weight: 500;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 50px;
    cursor: pointer;
    transition: box-shadow 0.2s ease-in, background-color 0.2s ease-in, border 0.3s;
}

.profile-dropdown-btn:hover{
    box-shadow: var(--shadow);
}

.profile-dropdown-btn span{
    margin: 0 0.5rem;
    margin-right: 0;

}

.profile-img{
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-size: cover;

}

.profile-img i{
    position: relative;
    right: 0;
    bottom: 0.3rem;
    font-size: 0.6rem;
    color: var(--green);
}


/* Banner principal */
.banner {
    display: flex;
    padding: 20px;
    background-color: #ededed;
    align-items: center;
    justify-content: space-between;
    transition: 0.5s ease-in-out
}

.texto-banner {
    flex: 2;
    padding: 20px;
}

.texto-banner h2 {
    display: flex;
    font-family: 'Georgia', serif;
    font-size: 48px;
    margin: 0;
}

.texto-banner p {
    font-size: 18px;
    margin: 10px 0;
}

.imagenes-banner {
    flex: 2;
    display: flex;
    gap: 10px;
    transition: 0.5s ease-in-out
}

.imagenes-banner img {
    width: 60%;
    border-radius: 10px;
}

.colores {
    flex: 0.5;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 50px;
}

.color {
    width: 50px;
    height: 20px;
    border-radius: 3px;
}


h2 {
    text-align: center;
    margin-top: 20px;
    font-family: 'Georgia', serif;
}

/* Estilo de la lista de productos */
.productos {
    padding: 20px;
    background: white;
}

.productos-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.producto {
    background-color: #f1f1f196;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.producto img {
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.producto h3 {
    font-size: 18px;
    margin: 10px 0;
    font-family: 'Georgia', serif;
}

.producto p {
    font-size: 16px;
    font-weight: bold;
    color: #FF5E62;
}

/* Responsiveness */

 /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
 @media screen and (max-width: 800px) {
    .logo1 {
        display: inline-block;
        width: 100%;
        
        
    }
    .nav-extra {
        width: 100%;
        padding-left: 10%;
}

 
 @media screen and (max-width: 768px) {

    /*

    .navbar{
        display: flex;
        justify-content: flex-start;  Mantiene todo alineado a la izquierda 
        align-items: center; 
        transition: all 0.5s ease;
    }

    .openbtn{
        margin-right: 150px;
    }

    .logo{
        margin-top: 0;
        width: auto;
        transition: all 0.5s ease;
    }
    
    */


    .banner {
        display: flex;
        flex-direction: column; /* Las imágenes y el texto ahora se apilarán verticalmente */
        text-align: center;
    }

    
    .banner img {
        width: 50%; /* Las imágenes del banner serán más responsivas */
    }
    .colores{
        display: none;
    }

    .productos-grid {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    }

    .producto {
        padding: 10px;
        width: 20;
        height: 20;
    }

    .producto h3 {
        font-size: 16px;
    }

    .producto p {
        font-size: 14px;
    }

}

@media screen and (max-width: 600px) {

    /*

    .logo{
        margin-left: 30%;
        float: left;
    }

    .sidebar{
        position: left;
    }

    */
}

  @media screen and (max-width: 500px) {

    /*
    .navbar{
        display: flex;
        justify-content: flex-start;  Mantiene todo alineado a la izquierda
        align-items: center; 
        transition: all 0.5s ease;
    }

    .logo{
        margin-top: 0;
        width: auto;
        transition: all 0.5s ease;
    }
    */
    .nav-extra {
        padding-left: auto;
}

    .productos-grid {
        grid-template-columns: minmax(200px 1fr);
        gap: 20px;
    }

    .producto {
        padding: 10px;
    }

    .producto h3 {
        display: none;
    }

    .producto p {
        display: none;
    }

    .producto img {
        height: fit-content;
    }

    .banner img {
        width: 50%; 
    }

    .colores{
        display: none;
    }
}







