
*{
    margin: 0;
    padding: 0;
    list-style-type: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;

}

.navbar{
    border-bottom: 1px solid rgb(212, 211, 211);
}

.section{
    position: relative;
    display: flex;
    gap: 50px;
    margin-bottom: 80px;
    background-color:rgb(250, 242, 242);
    /*background-color: white;*/
    padding: 20px;
}
.container-img{
    display: flex;
    justify-content: center;
    width: 80%;
    height: auto;
    margin-top: 50px;
    margin-left: 80px;
}
.img-modelo{
    height: auto;
    width: 100%;
    margin-left: 30px;
    max-width: 100%;
    box-shadow: 6px 10px 10px rgba(0, 2, 0, 0.1);
    border-color: #393e46;
    border-radius: 10px;
}
.container text{
    width: 20%;
    height: 70%;
    margin-right: 100px;
}

.container-title{
    margin-top: 50px;
    border-bottom: 3px solid black;
}
#title{
    font-size: 50px;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.text p {
    margin-top: 40px;
    margin-bottom: 20px; /* Espacio entre párrafos */
    margin-right: 70px;
    font-size: 16px;
    color: black;
    text-align: justify;
}


@media screen and (max-width: 1110px) {


    .section {
        flex-direction: column; /* Cambia la disposición de los elementos a una columna en pantallas más pequeñas */
        align-items: center;
        padding: 10px;
        gap: 20px;
    }

    .container-img {
        width: 90%; /* Ajusta el ancho del contenedor de imagen */
        margin-left: 0; /* Centraliza el contenedor en la pantalla */
    }

    .img-modelo {
        width: 100%; /* Ajusta la imagen al 100% del nuevo contenedor */
        max-width: 100%;
        margin-left: 0;
    }

    .container-text {
        width: 100%;
        text-align: center; /* Centra el texto para pantallas más pequeñas */
    }

    #title {
        font-size: 40px; /* Ajusta el tamaño de la fuente del título */
    }

    .text p {
        margin-right: 0;
        font-size: 14px; /* Reduce el tamaño de la fuente para pantallas más pequeñas */
    }
}


@media screen and (max-width:600px) {
    .logo{
        width: 60%;
        margin-left: 40%;
        margin-right: 0;
        margin-bottom: 5%;
    }

    .text p{
        padding-left: 15px;
        padding-right: 15px;

    }

}