*{
    box-sizing: border-box; 
	font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color:#ededed;
    margin: 0%;
    padding: 0%;
}

.barra-superior {
    background: linear-gradient(to right, #FF5E62, #FF9966);
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

nav {        
    border: none;
    background: white;
    margin-bottom: 1.5%;
    display: flex;
    justify-content: center; /* Centramos horizontalmente */
    align-items: center;
    height: auto;
    max-width: 100%;
    padding: 10px 0;
}     

.logo{
    max-width: 100%;
    height: auto;
}

.box2 {
    /*registrarse*/
    margin-left: 0.5%;
    font-weight: lighter;
    width: 80%;
    border: none;
    color: white;
    background: linear-gradient(to right, #FF5E62, #FF9966) ;
    cursor: pointer;
    width: 100%;
    border-radius: 20px;
    font-weight: bold;
    height: 35px;
    text-align: center;

}
.box3 {
    margin: auto;
    margin-bottom: 2%;
    padding: 2%;
    border-color: black;
    border-style: dotted;
    border-radius: 15px;
    text-align: left;
    background-color: white;
    border: none;
    font-size: small;
    max-width: 700px;
    
}


h3 {
    font-weight: bold;
}
p {
    font-size: 15px;
    font-weight: 250;
    margin-top: 2px;
    margin-left: 5px;
    margin-bottom: 25px;
    color: #000000;
}

.register{
	text-align: center;
	color: #aaa2a2;

}

.prueba{
    background-color: #FF5E62;
}

@media screen and (max-width: 600px) {
    .logo{
        justify-content: center;
        margin-left: 10%;
    }
    .logo img{
        max-width: 80%;
    }

    .box3{
        margin-left: 02%;
        margin-right: 02%;
    }
}

.anular{
    display: none !important;
}
.aparecer{
    color: red;
}