
/* Fondo */
body {background-color: #ffffff;}

h1 {color: #ffffff; 
    text-justify: auto;
    text-shadow: 2px 2px 2px #000000 ;
    font-size: xx-large;
    margin-left: 10px;
}


body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

.header {
    padding: 05px;
    text-shadow: #a00202;
    text-align: left;
    font-size: 35px;
}


.topnav {
    overflow: hidden;
    background-color: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.Live{

  background-color: #c38cdd5e;
}

.active {
    background-color: #70205f;
    color: white;
}

.topnav .icon {
    display: none;
}

.topnav a:hover {
    background-color: #555;
    color: white;
}

/*Responsive*/

@media screen and (max-width: 600px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}

 
* {
    box-sizing: border-box;
  }

  .container {
    margin-left: 20%;
    margin-right: 2 0%;
    border-radius: 10px;
    background-color: #f5eafa;
    padding: 40px;
    margin-top: 20px;
    margin-bottom: 40px;
    width: 90%;
    height: 80%;
    float: center;
    margin: 20px auto;
    max-width: 90%;
    transition: max-width 0.3s ease;
  }



  .col-25 {
    align-items: center;
    float: center;
    width: 100%;
    margin-top: 20px;


  }
  
  .col-75 {
    float: left;
    width: 100%;
    margin-top: 2px;
  }

  #desc01{
    overflow: scroll;
  }

input[type=text],input[type=file], select, textarea {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    resize: vertical;

    
}  
label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] ,input[type=reset]{
    background-color: #70205f;
    color: white;
    padding: 12px 20px;
    margin: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    font-size: medium;
    
  }

/* Clear floats after the columns */
.row::after {                      /* :after "pseudoelemento" https://www.w3schools.com/css/css_pseudo_elements.asp */
    content: ""; 
    display: table;                /* Especifica como se muestra el elemento*/
    clear: both;
  }
  
fieldset{
  margin-top: 20px;
  resize: vertical;

}
/*.row-chk {                      /* :after "pseudoelemento" https://www.w3schools.com/css/css_pseudo_elements.asp */
/*content: ""; 
               /* Especifica como se muestra el elemento*/
/*background-color: rgb(238, 199, 233) ; 
}*/

.checkbox {
  display: none;
}
.checkbox-label {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #cc88cccc;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

/* Cambiar el color de fondo cuando el checkbox esté seleccionado */
.checkbox:checked + .checkbox-label {
  background-color: #83347f; /* Color verde */
  border-color: #ccc;
  color: white;
}

/* Cambiar el color al pasar el cursor por encima del botón */
.checkbox-label:hover {
  background-color: #91528b9f;
}

/* Cambiar el color al pasar el cursor por encima del botón seleccionado */
.checkbox:checked + .checkbox-label:hover {
  background-color: #83347f;}


.label-chk {    
margin-top: 6px;   
margin-left: 20px;
padding: 12px 2px 12px 0;

width: auto;
/*float: left;  */
display: inline-block;
text-align: right;
}
.cls-chk {
  background-color: #740e66;
  color: white;
  padding: 12px 20px;
  margin: 05px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: left;

}

#arch01{
  float: right;
}

#nom01{
   font-size: medium;
}

label, legend{
  font-size: larger;
}

/* Ocultar el radio button */
.product {
  display: none;
}

/* Estilo básico para los labels que actuarán como botones */
.product-label {
  display: inline-block;
  padding: 10px 20px;
  margin: 5px;
  background-color: #cc88cccc;
  border: 2px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, color 0.3s;
}

/* Cambiar el color de fondo cuando el radio button esté seleccionado */
.product:checked + .product-label {
  background-color: #83347f; /* Color verde */
  border-color: #ccc;
  color: white;
}

/* Cambiar el color al pasar el cursor por encima del botón */
.product-label:hover {
  background-color: #91528b9f;
}

/* Cambiar el color al pasar el cursor por encima del botón seleccionado */
.product:checked + .product-label:hover {
  background-color: #83347f;
}


@media screen and (max-width: 600px) {
  .container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    font-size: small;
    transition: max-width 0.3s ease;

}

.col-25, .col-75 {
    width: 100%;
    
}

input[type=submit], 
input[type=reset] {
    width: 20%;
    margin: 5px;
    float: right;

}

.checkbox-label, 
.radio-label {
    font-size: 14px;
    padding: 8px 16px;
}

fieldset {
    margin-top: 10px;
}

h1 {
    font-size: xx-large;
    text-align: center;
    margin: 10px 0;
}
}


@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    padding: 20px;
    font-size: small;
    width: 90%; 
    max-width: none; 
    margin-left: auto;
    margin-right: auto;
    transition: max-width 0.3s ease;

}

.col-25, .col-75 {
    width: 100%;
    
}

input[type=submit], 
input[type=reset] {
    width: 25%;
    margin: 5px;
    float: right;
    padding: 12px 20px;
    size: small;
}

.checkbox-label, 
.radio-label {
    font-size: 14px;
    padding: 12px 20px;
}

fieldset {
    margin-top: 10px;
}

h1 {
    font-size: xx-large;
    text-align: center;
    margin: 10px 0;
}
}
