
/*MENUUU*/

html{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
/* Fondo */
body {background-color: #ffffff;
    }
   /* background: linear-gradient( #f1e4f8 02%)}*/

h1 {color: #ffffff; 
    text-justify: auto;
    text-shadow: 2px 2px 2px #400a58 ;
    font-size: xx-large;
    margin-left: 10px;
}


.derecho {text-align: center;}

hr{
    color: #a00202;
}

body {
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin: 0;
}

.header {
    /*background-color: #f1f1f1;*/
    padding: 05px;
    text-shadow: #a00202;
    text-align: left;
    font-size: 35px;
}





.topnav {
    overflow: hidden;
    background: #333;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.Live{

    background-color: #c38cdd5e;
}

.active {
    background-color: #70205f;
    color: white;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}


.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover{
    background-color: #555;
    color: white;
}


@media screen and (max-width: 600px) {

    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav.responsive .dropdown {
        float: none;
    }

    .topnav.responsive .dropdown-content {
        position: relative;
    }

    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
}







.lista-compras {
    max-width: 80%;
    margin: 0 auto;
}

.compra {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 15px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.encabezado-compra {
    padding: 15px;
    background-color: #f2f2f2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.encabezado-compra h3 {
    margin: 0;
    font-size: 18px;
}

.boton-desplegar {
    background-color: #c38cdd;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.boton-desplegar:hover {
    background-color: #8b48aa;
}

.detalles-compra {
    display: none; /* Ocultamos los detalles inicialmente */
    padding: 15px;
}

.acciones {
    margin: 10px;
    float: right;

}

.boton {
    padding: 10px 15px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    
}

.boton.cancelar {
    background-color: #dd2471;
    color: white;
}

.boton.finalizar {
    background-color: #30ac78;
    color: white;
}

.boton.cancelar:hover {
    background-color: #dd2471;
}

.boton.finalizar:hover {
    background-color: #30ac78;
}

footer{
    float: right;

}