<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Beerseba</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="favoritos.css">
    <!--<link rel="stylesheet" href="header.css">-->
    <link rel="stylesheet" href="homepage (1).css">
    <!--<script language="javascript" type="text/javascript" src="header.js"></script>-->
    <script language="javascript" type="text/javascript" src="homepage (1).js"></script>


</head>

<body id="cuerpo_1" onload="cargar_eventos()">

  <!--MENUU-->

       <!-- Barra superior -->
    <div class="barra-superior">
      <div class="contacto">
          <span>+54 9 11 2338-4312</span> | 
          <span>beersebaonline@gmail.com</span>
      </div>
      <div class="mayorista">
          VENTA MAYORISTA TALLES ESPECIALES
      </div>
  </div>

  <!-- Contenedor desplegable 1 -->
  <nav id="nav1" class="navbar">
    <button id="barra-desplegable" class="openbtn" onclick="openNav()">☰</button> 
    <div id="mySidebar" class="sidebar">  <!-- Desplegable 1 -->
      <a class="sidebar-a" href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
      <p id="pegar_1"></p> <br>
      <a class="sidebar-a" href="homepage (1).html">INICIO</a>
      <a class="sidebar-a" href="soloprod.html">PRODUCTOS</a>
      <a class="sidebar-a" href="quienes somos.html">QUIÉNES SOMOS</a>
    </div>
  </nav>

  <!-- Contenedor logo y desplegable 2 -->
  <div class="logo1" id="nav-bar">       
    <div class="logo">    
      <img src="pics/image-removebg-preview.png" alt="Beerseba Logo">
    </div>
    <!-- Contenedor de buscar y desplegable 2-->
    <div class="nav-extra" id="nav-adicional">

      <!-- Contenedor -->
      <input type="search" placeholder="Buscar">
      <!-- Contenedor Iniciar sesion -->
      <div class="cont-parte1" id="parte1">
              <a href="/signup.html">Crear cuenta</a> | <a href="/loginuser.html">Iniciar sesión</a>
      </div>
      <!-- Contenedor Nombre y desplegable -->
      <div class="profile-dropdown" id="parte2">
            <!-- Nombre e imagen -->
            <div class="profile-dropdown-btn">
              <div class="profile-img">
                <i class="fa-solid fa-circle"></i>
              </div>
              <span
                >Victoria
                <i class="fa-solid fa-angle-down"></i>
              </span>
            </div>
            <!-- Desplegable 2 -->
            <div class="profile-dropdown-list">
              <div class="profile-dropdown-list-item">
                <a href="/editprofile.html">
                  <i class="fa-regular fa-user"></i>
                  Editar Perfil
                </a>
              </div> 

              <div class="profile-dropdown-list-item">
                <a href="/favorites.html">
                  <i class="fas fa-heart"></i>
                  Favoritos
                </a>
              </div>
    
              <div class="profile-dropdown-list-item">
               <a href="/mypurchases.html">
                 <i class="fa-solid fa-chart-line"></i>
                  Mis Compras
                </a>
              </div>
    
              <div class="profile-dropdown-list-item">
                <a href="/help&support.html">
                  <i class="fa-regular fa-circle-question"></i>
                  Help & Support
                </a>
              </div>
              <hr/>
    
              <div class="profile-dropdown-list-item">
                <a href="/.html" id="salir">
                  <i class="fa-solid fa-arrow-right-from-bracket"></i>
                  Log out
                </a>
              </div>
            </div>
      </div>           
    </div>
  </div>
  <hr>
  <script src="homepage (1).js"></script>  


<!-- Lista de productos -->
    <section class="products">
        <h2>Mis Favoritos</h2>
        <div class="products-grid">
            <div class="product">
                <img src="pics\Recto de Bengalina .jpg" alt="Recto de Bengalina Negro">
                <h3>Recto de Bengalina</h3>
                <p>$12.500,00</p>
                <div class="container-buttons-card">
                  <button class="favorite">
                    <!--<i
                      class="fa-regular fa-heart"
                      id="favorite-regular"
                    ></i>-->
                    <i
                      class="fa-solid fa-heart"
                      id="added-favorite"
                    ></i>
                  </button>
                </div>
            </div>
            <div class="product">
                <img src="pics\Pantalon Cuerina.jpg" alt="Pantalon de Cuerina Negro">
                <h3>Pantalon de Cuerina</h3>
                <p>$14.150,00</p>
                <div class="container-buttons-card">
                  <button class="favorite">
                    <!--<i
                      class="fa-regular fa-heart"
                      id="favorite-regular"
                    ></i>-->
                    <i
                      class="fa-solid fa-heart"
                      id="added-favorite"
                    ></i>
                  </button>
                </div>
            </div>
            <div class="product">
                <img src="pics\Saco Barbie.jpg" alt="Saco Fucsia Brilloso">
                <h3>Saco Brilloso</h3>
                <p>$14.150,00</p>
                <div class="container-buttons-card">
                  <button class="favorite">
                    <!--<i
                      class="fa-regular fa-heart"
                      id="favorite-regular"
                    ></i>-->
                    <i
                      class="fa-solid fa-heart"
                      id="added-favorite"
                    ></i>
                  </button>
                </div>
            </div>
            <div class="product">
              <img src="pics/conjunto verde.jpg" alt="Conjunto verde Sastrero">
              <h3>Conjunto Sastrero</h3>
              <p>$14.150,00</p>
              <div class="container-buttons-card">
                <button class="favorite">
                  <!--<i
                    class="fa-regular fa-heart"
                    id="favorite-regular"
                  ></i>-->
                  <i
                    class="fa-solid fa-heart"
                    id="added-favorite"
                  ></i>
                </button>
              </div>
          </div>

            <!-- Añade más productos según sea necesario -->
        </div>
    </section>



</body>
</html>