<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jogger de bengalina</title>
    <link rel="stylesheet" href="../static/detail/detail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
</head>

<body>
    
    <div id="tabla" class="tb">   
                    <table>
                        <tr>
                            <th>Talle</th>
                            <th>Cintura (cm)</th>
                            <th>Cadera (cm)</th>
                            <th>Largo (cm)</th>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>82</td>
                            <td>90</td>
                            <td>97,5</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>86</td>
                            <td>94</td>
                            <td>99</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>92</td>
                            <td>102</td>
                            <td>102</td>
                        </tr>
                        <tr>
                            <td>8</td>
                            <td>96</td>
                            <td>106</td>
                            <td>104</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>100</td>
                            <td>110</td>
                            <td>108</td>
                        </tr>
                    </table>
    </div>
</body>
